<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>New Attagory</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/home">Attaboy!</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/newpost"
              >New Post<span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/attagories">Attagories</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/{{{userRoute}}}">My Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        </ul>
      </div>
    </nav>

    <form action="/attagories/addnew" method="post">
        <label>Attagory Name</label>
          <input type="text" name="attagory_name" />
      
        <label>Description:</label>
          <input type="text" name="attagory_description" />
            <button type="submit">Create Attagory</button>
        </form>
</body>
</html>